{
  "extends": "react-app",
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "no-unused-expressions": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
